* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        #313131 68% 70%,
        #0000 72%
      )
      20px 20px / calc(2 * 20px) calc(2 * 20px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        #313131 68% 70%,
        #0000 72%
      )
      20px 20px / calc(2 * 20px) calc(2 * 20px),
    radial-gradient(
        35.36% 35.36% at 100% 25%,
        #0000 66%,
        #313131 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 20px) calc(2 * 20px),
    radial-gradient(
        35.36% 35.36% at 0 75%,
        #0000 66%,
        #313131 68% 70%,
        #0000 72%
      )
      0 0 / calc(2 * 20px) calc(2 * 20px),
    repeating-conic-gradient(#1d1b1b 0 25%, #0000 0 50%) 0 0 / calc(2 * 20px)
      calc(2 * 20px),
    radial-gradient(#0000 66%, #313131 68% 70%, #0000 72%) 0 calc(20px / 2) /
      20px 20px #1d1b1b;
  color: rgb(230, 230, 230);
  text-align: center;
  font-family: "Indie Flower", "Comic Sans", cursive;
  font-size: 0.7em;
  width: 100%;
  height: 100dvh;
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
}

.player-label {
  font-size: 1.2rem;
}

.app {
  width: 100%;
  height: 100%;
  display: grid;
  align-content: center;
  gap: 1.5rem;
}

.main {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.board {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: max-content;
}

.row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  width: 90px;
  height: 90px;
  border: 4px solid rgb(230, 230, 230);
  cursor: pointer;
  background-color: transparent;
  float: left;
  margin-right: -4px;
  margin-top: -4px;
  padding: 0;
  text-align: center;
  font-family: inherit;
  font-weight: bold;
  font-size: 24px;
}

.btn-reset {
  border: none;
  border-radius: 5px;
  padding: 0.5rem;
  cursor: pointer;
  width: 100%;
}

.X {
  color: rgb(204, 97, 97);
}
.O {
  color: rgb(12, 210, 144);
}
.win {
  background-color: green;
}

.popup-bg {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
}

.popup {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: #ffffff;
  color: rgb(17, 17, 17);
  margin: auto;
  gap: 1rem;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.popup__header {
  width: 100%;
  color: rgb(17, 17, 17);
  font-weight: bold;
  display: flex;
  padding: 0.5rem;
  border-bottom: 1px solid gray;
}
